
p{
    color: brown;
}
td{
    color: brown;
}
details{
    color:purple;

}
summary{
    color: black;
}
dl{
    color: brown;
}
h3{
    color: black;
}
dd{
    color: black;
}
b{
    color: brown;
}


